table(cellpadding='0' cellspacing='0' border='0' align='center')
  tbody
    tr
      td
        div
          //header
          table(style='width:650px;background-color:#003d6e' cellpadding='0' cellspacing='0' border='0')
            tbody
              tr
                td(width='25') &nbsp;
                td(style='padding:10px 0')
                  table(style='background-color:#003d6e' width='100%')
                    tbody
                      tr
                        td(width='100%' align='left')
                          a(style='border:none;text-align:left;text-decoration:none' href='http://api.bogotacomovamos.org' target='_blank')
                            span(style='border:none;font-size:20px;color:#ffffff;font-family:"Trebuchet MS",Helvetica,sans-serif' src='') OPEN DATA Bogot&aacute; C&oacute;mo vamos?
                td(width='25')

          table(style='width:650px;background-color:#333333' cellpadding='0' cellspacing='0' border='0') 
            tbody
              tr
                td(width='25')
                  
                td(style='text-align:left')
                  
                td(width='25')
                  
          //title
          table(style='width:650px;background-color:#efefef' cellpadding='0' cellspacing='0' border='0')
            tbody
              tr
                td(width='25')
                  
                td(style='font-family:"Trebuchet MS",Helvetica,sans-serif;text-align:left;color:#010201;margin:0;font-size:32px;line-height:140%;font-weight:bold;padding:20px 0 0')
                  span(style='display:block')= title
                td(width='25')
              tr
                td(width='25')
                td(style='font-family:"Trebuchet MS",Helvetica,sans-serif;text-align:left;margin:0;font-size:18px;line-height:170%;padding:0 2px 25px')
                  p(style='margin:0;min-height:0;font-size:0')
                    span(style='display:block;min-height:0;font-size:0;line-height:0') &nbsp;
                td(width='25')

          //content
          block content

          //footer

          table(style='width:650px;background-color:#003d6e' cellpadding='0' cellspacing='0' border='0')
            tbody
              tr
                td(width='25')
                td(align='center' style='padding:15px 0;font-family:"Trebuchet MS",Helvetica,sans-serif')
                  table(style='background-color:#003d6e;text-align:center' border='0' cellspacing='0' cellpadding='0' width='100%')
                    tbody
                      tr
                        td
                          p(style='color:#fff;font-size:11px')
                            span(style='color:#999999') ©1998-2014 Bogot&aacute; C&oacute;mo Vamos?
                            a(style='color:#fff;text-decoration:none' href='' target='_blank')
                              //span Terminos de servicio
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            a(style='color:#fff;text-decoration:none' href='' target='_blank')
                              //span Privacy Policy/Your Privacy Rights
                td(width='25')