extends ../layout

block meta
  //twitter card
  meta(name='twitter:card' value='summary')
  //opengraph
  meta(property='og:type' content='website')
  meta(property='og:url' content='http://api.bogotacomovamos.org')
  meta(property='fb:app_id' content='196293643902816')

block scripts
  script(src='/js/citizen/scripts.js')
  block aditionalScripts