extends layoutCitizen

block content
  div.page-header
    h1 Denuncia enviada
    p Gracias!, revisaremos su denuncia y nos comunicaremos con ud via correo electr&oacute;nico
      | cuando tengamos una respuesta.