extends ../layout

block content
  div.page-header
    h1 Valide su usuario
      small.pull-right
        a(href='/dev/apps/') volver

  p Para crear aplicaciones debe validar su cuenta de correo,
    br
    | haga click 
    a(href='/user/send-validation') aqu&iacute;
    |  para enviar nuevamente el metodo de verificaci&oacute;n a su cuenta de correo.