extends ../layout

block content
  section#page-title-wrapper.page-title-wrapper
    div.container
      div.row
        div.col-sm-12
          h1 Valide su usuario
            small.pull-right
              a(href='/dev/apps/') volver

  section.pad-top-25
    div.container
      div.row
        p Para crear aplicaciones debe validar su cuenta de correo,
          br
          | haga click 
          a(href='/user/send-validation') aqu&iacute;
          |  para enviar nuevamente el metodo de verificaci&oacute;n a su cuenta de correo.