extends ../layout

block content

  h1 Nombre de la app

  h2 detalles

  label descripci&oacute;n:&nbsp;
  span descripci&oacute;n de la aplicaci&oacute;n
  br

  h2 llave de acceso
  label llave:&nbsp;
  span#key sadasda9sd8asdasd0asd
  a.generator(href='#' data-appId='keyasdadoisd') recrear mi llave


block scripts
  script(src='/js/dev.js')