extends layoutAdmin

block adminContent
  div.page-header
    h1 Catalogos de Datos
    p Seleccione y administre los catalogos de datos

  table.table.table-striped.table-responsive
    thead
      tr
        th Nombre
        th Descripci&oacute;n
        th Opciones

    tbody
      for dataset in datasets
        tr
          td
            a(href='/admin/datasets/#{dataset.id}/')= dataset.title
          td= dataset.description
          td
            span
              a.format(href='/admin/datasets/#{dataset.id}/')
                span.label.label-primary Ver
              &nbsp;|&nbsp;
              a.format(href='/admin/datasets/#{dataset.id}/edit')
                span.label.label-success Editar
