extends layoutAdmin

block adminContent
  div.page-header
    h1 C&aacute;talogos de Datos
    p Seleccione y administre los c&aacute;talogos de datos

  div.table-responsive
    table.table.table-striped
      thead
        tr
          th Nombre
          th Descripci&oacute;n
          th Opciones

      tbody
        for dataset in datasets
          tr
            td
              a(href='/admin/datasets/#{dataset.id}/')= dataset.title
            td= dataset.description
            td
              span
                a.format(href='/admin/datasets/#{dataset.id}/')
                  span.label.label-primary Ver
                &nbsp;|&nbsp;
                a.format(href='/admin/datasets/#{dataset.id}/edit')
                  span.label.label-success Editar
