extends layoutAdmin

block adminContent

  section#page-title-wrapper.page-title-wrapper
    div.container
      div.row
        div.col-sm-12
          h1 Panel de administración

  section.pad-top-25
    div.container
      h3 denuncias de aplicaciones:
      for report in reports
        span= report.reason


