extends layoutAdmin

block adminContent
  div.page-header
    h2 Actualizar via CSV

  div.table-responsive
    form(method='POST', enctype="multipart/form-data")
      label(for='file') Archivo:
      input#file(type='file', name='file')
      button(type='submit') Subir