body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.logo {
}

.chart rect {
   fill: steelblue;
}

.chart text {
   fill: black;
   font: 10px sans-serif;
   text-anchor: middle;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* ciudadanos */
a.format:hover {
  text-decoration: none;
}

a.format span:hover {
  background-color: #333;
}