body {
  padding-top: 70px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.logo {
}

#chart {
}

.chart text {
  fill: black;
  font: 0.7em sans-serif;
  text-anchor: middle;
}
.chart-container {
  padding: 0 3em;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar {
  fill: #315b4e;
}
.bar:hover {
  fill: #e6642f;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(250, 250, 250, 0.6);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}



/* ciudadanos */
a.format:hover {
  text-decoration: none;
}

a.format span:hover {
  background-color: #333;
}

.dataset-provider .header {
  padding-bottom: 2em;
}

.dataset-provider .socials {
  background-color: #f6f6f6;
  border-color: #ddd;
}

.dataset-provider .socials span {
  font-weight: 800;
}

.navbar-default {
  background-color: #fff;
  border-color: #202d3b;
}
.affix .navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
}
.label-primary {
  background-color: #e6642f;
}

.label-success {
  background-color: #8cd95c;
}

.label-info {
  background-color: #00547e;
}

.btn-primary {
  color: #ffffff;
  background-color: #00547e;
  border-color: #2c3e50;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #315b4e;
}

.pagination .disabled > a,
.pagination .disabled > a:hover,
.pagination .disabled > a:focus,
.pagination .disabled > span {
  background-color: #00a985;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  background-color: #00a985;
}

.form-control:focus {
  border-color: #64ce4a;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 206, 74, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 206, 74, 0.6);
}

.text-justify {
  text-align: justify;
}

.text-capitalize {
  text-transform: capitalize;
}

.shadow {
   
   color: white;
   text-shadow:
     -1px -1px 0 #002a54,
      1px -1px 0 #002a54,
      -1px 1px 0 #002a54,
       1px 1px 0 #002a54;
}
.shadowBox {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1em;
}

.carousel-inner {

}
.carousel-inner .back-image {
  width: 100%;
  min-width: 1024px;
  position: absolute;
  top: 0;
  z-index: -45;
  top: -150px;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}
.carousel-inner .front-image {
  display: block;
  margin: 0 auto;
  z-index: 90;
  filter: brightness(1.5);
  -webkit-filter: brightness(1.5);
  -moz-filter: brightness(1.5);
  -o-filter: brightness(1.5);
  -ms-filter: brightness(1.5);
}

#main {
  background:url('/imgs/FOTO3.jpg') no-repeat 50% 70%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  width: 100%;
  position: absolute;
  top:0;
}


.heading-top {
  bottom: none;
  top: 20px;
  position: absolute;
  text-align: center;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 400px;
}

.heading-top h1 {
  font-size: 3em;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.7);
  text-shadow: 3px 3px 4px rgba(0,0,0,0.8);
}

.heading-top h1.enphasis {
  font-size: 3.5em;
}

.heading-top h3 {
  font-size: 3em;
  color: #556b94;
}

.heading-top .logo {
  display: block;
  margin: 0 auto;
}

.heading-top h3 .dark-blue {
  color: #013766;
}

.author {
  position: absolute;
  bottom: 0.5em;
  right: 1em;
  background-color: rgba(0,0,0,0.5);
  padding: 0.5em 1em;
  color: #fff;
}

#action {
  margin-top: 1em;
  font-size: 2em;
}

#apps .portfolio-thumb {
  height: 180px;
  position: relative;
}

#apps .img-responsive {
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;  
}

#apps .portfolio-details {
  height:130px;
}

#apps .portfolio-details h5 {
  text-transform: capitalize;
}

.sponsor img {
  height: 50px;
  margin: 0 10px;
}

.subpage-title h2 {
  text-align: center;
}

footer {
  padding: 25px 0 30px;
  background-color: #434244;
  color: #ddd;
}
#footer-1 {
  padding: 5px 0;
  background-color: #1E1E2D;
  margin-top: 50px;
}
#footer-1 .subpage-title h5 {
  color: #fff;
}
.footer-brand {
  color: #fff;
}

footer a {
  color: #fff;
  text-transform: uppercase;
}

.project-details-list {
  font-size: 0.8em;
}
.project-details-list h6 {
  text-transform: capitalize;
  color: #999;
}
.project-terms {
  text-align: right;
}

.dataset-home {
  position:relative;
  height:256px;
}
.dataset-home .portfolio-details {
  background-color: #4d2b3c;
  color: #fff;
  height: 100%;
  z-index:-1;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  position:absolute;
}
.dataset-home img {
  z-index:2;
}
.dataset-home img {
  position:absolute;
  opacity: 1;
  height: 100%;
  background-color: #fff;
}
.dataset-home h5 {
  color: #fff;
}
.dataset-home:hover img {
  -webkit-transform: translate(0px, -100%);
  -moz-transform:    translate(0px, -100%);
  -ms-transform:     translate(0px, -100%);
  -o-transform:      translate(0px, -100%);
  transform:         translate(0px, -100%);
}
