extends ../layout

block content


  div.page-header
    h2 Solicitar Cambio de contrase&ntilde;a
    p por favor escriba su correo electr&oacute;nico para indicarle los pasos
      | a seguir para cambiar la contrase&ntilde;a

  if message
    br
    p un email ha sido enviado a #{message} con instrucciones para su cambio de contraseña
    br

  form.form-horizontal(role='form' method='POST')
    div.form-group(class=error?'has-error':'')
      label.col-sm-2.control-label(for='email') Correo eletr&oacute;nico
      
      div.col-sm-10
        input#email.form-control(type='email' name='email' minlength=3 maxlength=50 required)
        if error
          span.help-block= error

    div.form-group
    
      div.col-sm-offset-2.col-sm-10
        button.btn.btn-primary.pull-right(type='submit') Enviar indicaciones