extends ../layout

block content
  section#page-title-wrapper.page-title-wrapper
    div.container
      div.row
        div.col-sm-12
          h2 Mi perfil
            small.pull-right
              a(href='/') volver
  
  section.pad-top-25
    div.container
      dl.dl-horizontal
        dt Nombre:
        dd= user.name

        dt email:
        dd= user.email
          if !user.validated
            &nbsp;
            span.label.label-danger sin validar
            br
            a(href='/user/send-validation') enviar mail de validaci&oacute;n

        if user.role == 'developer'
          dt Key
          dd
            code= user.testKey ? user.testKey.key : '<no hay llave>'
            p Esta llave es &uacute;nica y personal usela para realizar pruebas, 
              | esta limitada a 
              b= user.testKey ? user.testKey.limit : 0
              | &nbsp;solicitudes por hora.
              br
              br
              a.btn.btn-xs.btn-info(href='/user/generateKey') generar una nueva llave.

      hr
      div.pull-right
        a.btn.btn-default(href='/user/edit') Editar
        | &nbsp; | &nbsp;
        a.btn.btn-default(href='/user/password') Cambiar contrase&ntilde;a
