extends layout

block content
  section#page-title-wrapper.page-title-wrapper
    div.container
      div.row
        div.col-sm-12
          h1 Acerca de la plataforma de datos abiertos

  section.pad-top-50
    div.container
      div.subpage-title
        h5 ¿Qu&eacute; es la plataforma de datos abiertos de Bogot&aacute; C&oacute;mo vamos?
      div.row
        div.col-md-8.pad-25.text-justify
          p.lead Es un servicio que le permite a los ciudadanos interacturar con la informaci&oacute;n
           | recolectada por el programa desde 1998.
          p Bogot&aacute; C&oacute;mo Vamos es un ejercicio ciudadano de seguimiento peri&oacute;dico y sistem&aacute;tico a los
            | cambios en la calidad de vida de la ciudad y al Concejo de Bogot&aacute; DC.
          p Esta plataforma permite a los ciudadanos acceder e interacturar con la informaci&oacute;n
            | recolectada, conocer aplicaciones relacionadas con la ciudad.

          br
          h5 Acerca de Bogotá Cómo Vamos

          p Bogotá Cómo Vamos entiende la calidad de vida como un concepto dinámico referido 
            | específicamente al acceso efectivo a un conjunto de bienes y servicios básicos por
            | parte de la población, y a la percepción que sobre su propio bienestar y el de su
            | comunidad tiene la gente. Además, en el concepto se integran los derechos y deberes de
            | los ciudadanos y las obligaciones del Estado. 
          br
          h5 ¿Qu&eacute; es un API?

          p API es la abreviatura de Aplication Programming Interface. Un API no
            | es m&aacute;s que una serie de servicios o funciones que en este caso
            | esta plataforma ofrece a un desarrollador para que pueda
            | crear software (p&aacute;ginas web, apps para telef&oacute;nos)
            | que utilice de manera directa la informaci&oacute;n aqu&iacute; almacenada.
          br



        div.col-md-4.pad-25
          div.subpage-title Objetivos
          ul.fa-ul
            li
              i.fa-li.fa-lg.fa.fa-check-circle.text-info 
              | Fomentar la participaci&oacute;n ciudadana
            li
              i.fa-li.fa-lg.fa.fa-check-circle.text-info 
              | Dar visibilidad a aplicaciones c&iacute;vicas
