extends layout

block content

  section#page-title-wrapper.page-title-wrapper
    div.container
      div.row
        div.col-sm-6
          h2 Desarrolladores

  section.pad-top-25
    div.container
      div.row
        div.col-md-12.pad-top-25
          small Herramientas para desarrolladores

          p.lead La plataforma de datos abiertos permite a los desarrolladores
            | acceder a los diferentes catologos de datos usando servicios REST.
          p Si quieres construir una aplicaci&oacute;n que ayude a la ciudadan&iacute;a
            | para mejorar su calidad de vida o ya la tienes puedes registrarla en 
            | la plataforma.
          p Tu aplicaci&oacute;n ganar&aacute; visibilidad 
            | con los ciudadanos que consultan la plataforma y podr&aacute;s recibir
            | retroalimentaci&oacute;n y califaci&oacute;n.

          a.btn.btn-info(href='http://fcorona.github.io/bcv-opendata/') consultar documentaci&oacute;n


  section.pad-25
    div.container
      div.row
        div.action-box
          h3 Ayuda a la ciudadan&iacute;a a ser m&aacute;s participativa
          p Ingresa sin ning&uacute;n costo y registra tu aplicaci&oacute;n
          a.btn.btn-success.btn-color(href='/registro') Registrarme