extends layout

block content

  div.jumbotron
    if(session_on)
      p Bienvenido #{username}
    else
      h1 Plataforma de open data para Bogot&aacute; c&oacute;mo vamos

  
  span licenciamiento de los datos: 
    a(href="http://opendatacommons.org/licenses/odbl/summary/") odbl 



