extends layout

block content

  section#fullwidthbanner-container.fullwidthbanner-container
    div.fullwidthbanner
      ul
        li(data-transition='random' data-slotamount='10' data-masterspeed='500')
          img(src='/imgs/Caminantes.png' alt='slide image' style='margin-top:-20%')
          
          div.tp-caption.very_large_black_text.sft.stt(data-x="105" data-y="65" data-speed="500" data-start="1000" data-easing="easeOutExpo" style="font-size: 25px; color: #fff")
            span.shadow Plataforma de datos abiertos
          div.tp-caption.very_large_black_text.lft.ltt(data-x="105" data-y="100" data-speed="500" data-start="1200" data-easing="easeOutExpo" style="font-size: 50px;color: #fff")
            span.shadow Bogot&aacute; C&oacute;mo Vamos
          div.tp-caption.theme_caption3.sfl.stl.shadowBox(data-x="105" data-y="180" data-speed="500" data-start="1400" data-easing="easeOutExpo" style="font-family: 'Montserrat', sans-serif; color: #34495e;color: #fff")
            | Datos recolectados por el programa durante los &uacute;ltimos 15 a&ntilde;os,
            br
            | a disposici&oacute;n de la ciudadan&iacute;a para promover la participaci&oacute;n
            br
            | ciudadana.

          a.caption.btn.btn-flat.flat-info.lfb.ltb(href="/datasets" data-x="105" data-y="275" data-speed="500" data-start="1800" data-easing="easeOutExpo")
            | Explorar datos

        li(data-transition='random' data-slotamount='10' data-masterspeed='500')
          img(src='/imgs/Jimenez.png' alt='slide image' style='margin-top:-20%')
          
          div.tp-caption.very_large_black_text.lft.ltt(data-x="105" data-y="100" data-speed="500" data-start="1200" data-easing="easeOutExpo" style="font-size: 50px;")
            | Aplicaciones
          div.tp-caption.theme_caption3.sfl.stl(data-x="105" data-y="180" data-speed="500" data-start="1400" data-easing="easeOutExpo" style="font-family: 'Montserrat', sans-serif; color: #34495e;")
            | Aplicaciones que fomentan la participación ciudadana
            br
            | y ayudan a mejorar la calidad de vida.
          a.caption.btn.btn-flat.flat-info.sfb.stb(href="/apps" data-x="105" data-y="275" data-speed="500" data-start="1800" data-easing="easeOutExpo") 
            | ver aplicaciones

        li(data-transition='random' data-slotamount='10' data-masterspeed='500')
          img(src='/imgs/Septima.png' alt='slide image' style='margin-top:-20%')
          
          div.tp-caption.very_large_black_text.lft.ltt(data-x="105" data-y="100" data-speed="500" data-start="1200" data-easing="easeOutExpo" style="font-size: 50px;")
            | Desarrolladores
          div.tp-caption.theme_caption3.sfl.stl(data-x="105" data-y="180" data-speed="500" data-start="1400" data-easing="easeOutExpo" style="font-family: 'Montserrat', sans-serif; color: #34495e;")
            | Ofrecemos acceso a los c&aacute;talogos de datos del programa para que puedan
            br
            | construir aplicaciones y servicios para la ciudadan&iacute;a.
          a.caption.btn.btn-flat.flat-info.sfb.stb(href="/devs" data-x="105" data-y="275" data-speed="500" data-start="1800" data-easing="easeOutExpo") 
            | Saber m&aacute;s

      div.tp-bannertimer.tp-bottom

  section.pad-top-50
    div.container
      div.subpage-title
        h5 ¿Qu&eacute; es la plataforma de datos abiertos de Bogot&aacute; C&oacute;mo vamos?
      div.row
        div.col-md-8.pad-25.text-justify
          p.lead Es un servicio que le permite a los ciudadanos interacturar con la informaci&oacute;n
           | recolectada por el programa desde 1998.
          p Bogot&aacute; C&oacute;mo Vamos es un ejercicio ciudadano de seguimiento peri&oacute;dico y sistem&aacute;tico a los
            | cambios en la calidad de vida de la ciudad y al Concejo de Bogot&aacute; DC.
          p Esta plataforma permite a los ciudadanos acceder e interacturar con la informaci&oacute;n
            | recolectada, conocer aplicaciones relacionadas con la ciudad.

          br
          h5 Acerca de Bogotá Cómo Vamos

          p Bogotá Cómo Vamos entiende la calidad de vida como un concepto dinámico referido 
            | específicamente al acceso efectivo a un conjunto de bienes y servicios básicos por
            | parte de la población, y a la percepción que sobre su propio bienestar y el de su
            | comunidad tiene la gente. Además, en el concepto se integran los derechos y deberes de
            | los ciudadanos y las obligaciones del Estado. 
          br
          h5 ¿Qu&eacute; es un API?

          p API es la abreviatura de Aplication Programming Interface. Un API no
            | es m&aacute;s que una serie de servicios o funciones que en este caso
            | esta plataforma ofrece a un desarrollador para que pueda
            | crear software (p&aacute;ginas web, apps para telef&oacute;nos)
            | que utilice de manera directa la informaci&oacute;n aqu&iacute; almacenada.
          br



        div.col-md-4.pad-25
          div.subpage-title Objetivos
          ul.fa-ul
            li
              i.fa-li.fa-lg.fa.fa-check-circle.text-info 
              | Fomentar la participaci&oacute;n ciudadana
            li
              i.fa-li.fa-lg.fa.fa-check-circle.text-info 
              | Dar visibilidad a aplicaciones c&iacute;vicas

  hr

  section.pad-top-50
    div.container
      div.subpage-title
        h5 C&aacute;talogos de datos
      div.row
        div#isotope-portfolio-container
          div.col-xs-12.col-md-6.portfolio-item-wrapper
            div.portfolio-item
              div.portfolio-thumb
                a(href='/datasets')
                  img.img-responsive(src='/imgs/API-calidaddevida.jpg' alt='1st Porfolio Thumb')
                  div.portfolio-details
                    h5 Indicadores Calidad de vida Objetivos
                    p Dan cuenta del acceso a bienes y servicios básicos, entre
                      | los cuales está una educación de buena calidad y que promueva valores;
                      | salud de calidad con menos mortalidad y morbilidad y con mejor nutrición;
                      | servicios públicos con instalaciones adecuadas y acceso continuo;
                      | vivienda digna en áreas adecuadas; un medio ambiente sano, con poco ruido, 
                      | buena calidad del recurso hídrico, baja contaminación del aire y visual, 
                      | áreas verdes accesibles y manejo adecuado de basuras; espacio público suficiente,
                      | en buen estado, apto para la recreación, el deporte y la cultura;
                      | movilidad vial ágil, segura, económica y productiva;
                      | seguridad ciudadana fuerte que genere confianza en la ciudad;
                      | ciudadanía responsable, respetuosa, solidaria y proactiva;
                      | excelente gestión pública y atención al usuario, así como una economía 
                      | productiva que permita la creación de más y mejores empleos.

          div.col-xs-12.col-md-6.portfolio-item-wrapper
            div.portfolio-item
              div.portfolio-thumb
                img.img-responsive(src='/imgs/API-percepcionciudadana.jpg' alt='1st Porfolio Thumb')
                div.portfolio-details
                  h5 Indicadores Calidad de vida Subjetivos
                  p Indica a la percepción de la ciudadanía sobre diversos aspectos que afectan su
                    | bienestar y que no necesariamente están correlacionados de forma directa con
                    | las condiciones objetivas. Esta dimensión se obtiene a través de una
                    | Encuesta de Percepción Ciudadana, que contrata anualmente el programa
                    | representativa para las seis zonas urbanas de la ciudad, tres niveles
                    | socioeconómicos y por sexo.

  hr

  section#recent-works.pad-top-50
    div.container
      div.subpage-title
        h5 Aplicaciones Recientes
        div.controls
          span#portfolio-prev.prev.black
            i.fa.fa-angle-left
          span#portfolio-next.next.black
            i.fa.fa-angle-right

      div.row.flush
        div#caroufredsel-portfolio-container
          div.col-xs-12.col-sm-6.col-md-4.portfolio-item-wrapper
            div.portfolio-item
              div.portfolio-thumb
                img.img-responsive(src='http://bogotacomovamos.org/static/img/logo-s23116f47f6.png' alt='app')
                div.image-overlay
                a.portfolio-link(href='/apps/')
                  i.fa.fa-link
              div.portfolio-details
                h5 app1
                p esta app busca informaci&oacute;n de los lugares m&aacute;s accesibles

          div.col-xs-12.col-sm-6.col-md-4.portfolio-item-wrapper
            div.portfolio-item
              div.portfolio-thumb
                img.img-responsive(src='http://bogotacomovamos.org/static/img/logo-s23116f47f6.png' alt='app')
                div.image-overlay
                a.portfolio-link(href='/apps/')
                  i.fa.fa-link
              div.portfolio-details
                h5 app2
                p esta app busca informaci&oacute;n de los lugares m&aacute;s accesibles

          div.col-xs-12.col-sm-6.col-md-4.portfolio-item-wrapper
            div.portfolio-item
              div.portfolio-thumb
                img.img-responsive(src='http://bogotacomovamos.org/static/img/logo-s23116f47f6.png' alt='app')
                div.image-overlay
                a.portfolio-link(href='/apps/')
                  i.fa.fa-link
              div.portfolio-details
                h5 app3
                p esta app busca informaci&oacute;n de los lugares m&aacute;s accesibles

          div.col-xs-12.col-sm-6.col-md-4.portfolio-item-wrapper
            div.portfolio-item
              div.portfolio-thumb
                img.img-responsive(src='http://bogotacomovamos.org/static/img/logo-s23116f47f6.png' alt='app')
                div.image-overlay
                a.portfolio-link(href='/apps/')
                  i.fa.fa-link
              div.portfolio-details
                h5 app4
                p esta app busca informaci&oacute;n de los lugares m&aacute;s accesibles

          div.col-xs-12.col-sm-6.col-md-4.portfolio-item-wrapper
            div.portfolio-item
              div.portfolio-thumb
                img.img-responsive(src='http://bogotacomovamos.org/static/img/logo-s23116f47f6.png' alt='app')
                div.image-overlay
                a.portfolio-link(href='/apps/')
                  i.fa.fa-link
              div.portfolio-details
                h5 app5
                p esta app busca informaci&oacute;n de los lugares m&aacute;s accesibles


      span licenciamiento de los datos: 
        a(href='http://opendatacommons.org/licenses/odbl/summary/') odbl 

block scripts
  script.
    var tpj = jQuery;
    tpj.noConflict();
    tpj(document).ready(function () {
      // Revolution Slider
      if (tpj.fn.cssOriginal != undefined)
        tpj.fn.css = tpj.fn.cssOriginal;
      tpj('.fullwidthbanner').revolution({
        delay: 9000,
        startwidth: 1200,
        startheight: 600,
  
        onHoverStop: "on",

        thumbWidth: 100,
        thumbHeight: 50,
        thumbAmount: 3,

        hideThumbs: 0,

        navigationType: "none",
        navigationArrows: "solo",
        navigationStyle: "round",
        navigationHAlign: "left",
        navigationVAlign: "bottom",
        navigationHOffset: 30,
        navigationVOffset: 30,

        soloArrowLeftHalign: "left",
        soloArrowLeftValign: "center",
        soloArrowLeftHOffset: 0,
        soloArrowLeftVOffset: 0,

        soloArrowRightHalign: "right",
        soloArrowRightValign: "center",
        soloArrowRightHOffset: 0,
        soloArrowRightVOffset: 0,

        stopAtSlide: -1,
        stopAfterLoops: -1,
        hideCaptionAtLimit: 0,
        hideAllCaptionAtLilmit: 0,
        hideSliderAtLimit: 0,

        fullWidth: "on",
        fullScreen: "off",
        fullScreenOffsetContainer: "#topheader-to-offset",

        shadow: 0
      });
      // PrettyPhoto
      tpj("a[rel^='prettyPhoto']").prettyPhoto({
        theme: 'light_square',
        social_tools: false
      });
      // FitVids
      tpj(".responsive-video-wrapper").fitVids();
      // jflickrfeed
      tpj('.flickr-photos-list').jflickrfeed({
        limit: 9,
        qstrings: {
          id: '71865026@N00'
        },
        itemTemplate: '<li><a href="{{image_b}}"><img src="{{image_s}}" alt="{{title}}" /></a></li>'
      });
      // jQuery UItoTop
      tpj().UItoTop({ easingType: 'easeOutQuart' });
      // Skin Chooser
      tpj(".skin-chooser-toggle").click(function () {
        tpj(".skin-chooser-wrap").toggleClass("show");
      });
      tpj(".color-skin").click(function () {
        var cls = this.id;
        tpj(".color-skin").removeClass("active");
        tpj(this).addClass("active");
        tpj("#utter-wrapper").removeClass();
        tpj("#utter-wrapper").addClass(cls);
      });
    });
    // jQuery CarouFredSel
    var caroufredsel = function () {
      tpj('#caroufredsel-portfolio-container').carouFredSel({
        responsive: true,
        scroll: 1,
        circular: false,
        infinite: false,
        items: {
          visible: {
            min: 1,
            max: 3
          }
        },
        prev: '#portfolio-prev',
        next: '#portfolio-next',
        auto: {
          play: false
        }
      });
      tpj('#caroufredsel-blog-posts-container').carouFredSel({
        responsive: true,
        scroll: 1,
        circular: false,
        infinite: false,
        items: {
          visible: {
              min: 1,
              max: 3
          }
        },
        prev: '#blog-posts-prev',
        next: '#blog-posts-next',
        auto: {
          play: false
        }
      });
      tpj('#caroufredsel-clients-container').carouFredSel({
        responsive: true,
        scroll: 1,
        circular: false,
        infinite: false,
        items: {
          visible: {
              min: 1,
              max: 4
          }
        },
        prev: '#client-prev',
        next: '#client-next',
        auto: {
          play: false
        }
      });
    };
    tpj(window).load(function () {
      caroufredsel();
    });
    tpj(window).resize(function () {
      caroufredsel();
    });

