doctype html
html
  head
    title #{title} - plataforma de opendata BogotaComoVamos
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/css/style.css")
    block meta


  body
    if messages && (messages.info || messages.error)
      p= messages.info
      p= messages.error

    div.navbar.navbar-default.navbar-fixed-top(role="navigation")
      div.container
        div.navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          
          a.navbar-brand.logo(href="/") BCV OpenData
        
        div.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href="/datasets") Catalogos de Datos

            li
              a(href="/apps") Aplicaciones
            li
              a(href="http://fcorona.github.io/bcv-opendata/") Desarrolladores

          ul.nav.navbar-nav.navbar-right
            if !login
              form.navbar-form(role="form" action="/login" method="POST")
                div.form-group
                  input.form-control(type="text" name="username" placeholder="Email")
                
                div.form-group
                  input.form-control(type="password" name="password" placeholder="Password")
                
                button.btn.btn-success(type="submit") Ingresar
                a.btn.btn-default(href="/registro") Registrarse
            else
              li
                a(href="/user") Mi Perfil
              li
                a(href="/logout") Cerrar Sesi&oacute;n
            

    div.container
      block content

    script(src="https://code.jquery.com/jquery.js")
    script(src="/js/bootstrap.min.js")

    block scripts
