extends layout

block content
  section.page-title-wrapper
    div.container
      h1 ODC Open Database License (ODbL)
      h2 Licencia de datos abiertos resumida
  
  section.pad-top-25
    div.container
      div
        p Esta es una versi&oacute;n resumida legible de la 
          a(href="http://www.opendatacommons.org/licenses/odbl/1.0/") Licencia ODbL 1.0 
          | . Por favor consulte el aviso legal al final de la p&aacute;gina

        h2
          strong Eres libre de:
        ul
          li
            em Compartir: 
            | Para copiar, distribuir y usar la base de datos.
          li
            em Crear: 
            | Para producir trabajos de la base de datos.
          li
            em Adaptar: 
            | Para modificar y construir bas&aacute;ndose en la base de datos.

        h2
          strong Siempre y cuando tu:
        ul
          li
            em Atribuyas: 
            | Debes atribuir cualquier uso p&uacute;blico de la base de datos o de trabajos creados
            | a partir de la base de datos, seg&uacute;n lo especificado en la ODbl. Para cualquier uso
            | o redistribuci&oacute;n de la base de datos, o trabajos producidos de ella, debes dejar
            | claro a los dem&aacute;s la licencia que usa la base de datos y mantener intacto cualquier 
            | notificaci&oacute;n en la base de datos original.
          li
            em Compartir bajo la misma licencia: 
            | S&iacute; promocionas el uso de cualquier versi&oacute;n adaptada de esta base de datos o trabajos
            | creados a partir de la base de datos adaptada, debes ofrecer la base de datos adaptada 
            | bajo la licencia ODbl.
          li
            em Mantener abierta: 
            | S&iacute; redistribuyes la base de datos, o la versi&oacute;n adaptada de esta, entonces puedes usar 
            | medidas tecnol&oacute;gicas que restrinjan el trabajo (tales como un DRM) siempre que t&uacute; 
            | tambi&eacute;n redistribuyas la versi&oacute;n sin tales medidas.

        h2
          strong Aviso Legal

        p Esta no es la licencia. Es simplemente una referencia pr&aacute;ctica en espa&ntilde;ol para entender la 
          | licencia ODbl 1.0 — es una expresi&oacute;n legible de los t&eacute;rminos clave. Este documento no 
          | tiene valor legal y su contenido no aparecer&aacute; en la correspondiente licencia. Lea la 
          | versi&oacute;n completa (en ingl&eacute;s) 
          strong
            a(href="http://www.opendatacommons.org/licenses/odbl/1.0/") Licencia ODbL 1.0 
          | &nbsp; para los t&eacute;rminos exactos que aplican.