extends layout

block content
  div.page-header
    h1 Iniciar sesión
  
  if message
    p= message
  form(role="form" action="/login" method="POST")
    div.form-group
      label(for="email") correo:
      input#email.form-control(type="email" name="username" placeholder="ingrese email")
    
    div.form-group
      label(for=password) contrase&ntilde;a
      input#password.form-control(type="password" name="password" placeholder="contraseña")

    button.btn.btn-default(type="submit") enviar

  br
  a(href='/user/recover') Olvide mi contrase&ntilde;a