extends layout

block content
  section#page-title-wrapper.page-title-wrapper
    div.container
      div.row
        div.col-sm-12
          h1 Iniciar sesión
  

  section.pad-top-25
    div.container    
      if message
        p= message
      form.form-horizontal(role="form" action="/login" method="POST")
        div.form-group
          label(for="email") correo:
          input#email.form-control(type="email" name="username" placeholder="ingrese email")
        
        div.form-group
          label(for=password) contrase&ntilde;a
          input#password.form-control(type="password" name="password" placeholder="contraseña")
        
        div.form-group
          div.col-sm-3
            button.btn.btn-primary(type="submit") enviar

      br
      a(href='/user/recover') Olvide mi contrase&ntilde;a
      | &nbsp; | &nbsp;
      a(href='/registro') Registrar un nuevo usuario