extends layout

block content
  section#page-title-wrapper.page-title-wrapper
    div.container
      div.row
        div.col-sm-12
          h1 No esta autorizado

  section.pad-25
    div.container 
      div.row
        p La página que intenta acceder no esta disponible para su usuario.