extends layout

block content
  form(method='POST', enctype="multipart/form-data")
    label(for='dictionary') Diccionario de variables:
    input#file(type='file', name='dictionary')
    br
    label(for='file') Consolidado:
    input#file(type='file', name='file')
    br
    button(type='submit') Subir